#page-header {
  width: 100%;
  height: 40px;
  display: flex;
  border-bottom: 2px solid darkorange;

  span {
    line-height: 40px;
    width: 100%;
  }
}

.left-menu {
  display: flex;
  justify-content: flex-start;
}

.right-menu {
  display: flex;
  justify-content: flex-end;
}

.btn {
  height: 40px;
  cursor: pointer;
  border: 1px;
  width: 110px;
  text-align: center;
}

.app-name {
  font-family: monospace;
  font-size: 30px;
  padding: 0px 10px 0px 10px;
}

.post:hover {
  background-color: #e6f7ff;
}

.logout {
  background-color: #33beff;
}